* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #eee5f7;
  height: 700px;
  border-radius: 12px;
}

header {
  background-color: #ffff;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.listOptions {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.hero-name {
  font-size: 27px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #ab1f9b;
}

.listOptions li {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
  padding-right: 5px;
}

ul li a {
  border: 2px solid transparent;
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: #ca8a04;
  border-bottom-color: #ca8a04;
  color: #ca8a04;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
}

img {
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.hero-section {
  display: flex;
  justify-content: space-around;
  margin-top: 115px;
}

.hero-content {
  width: 550px;
}

.first {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #6b7280;
}

.second {
  font-size: 59px;
  font-family: "Roboto", sans-serif;
}
span {
  font-weight: 800;
}

.third {
  margin-top: 10px;
  font-size: 19px;
  color: #6b7280;
}

button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0.9rem 1.8rem;
  outline: none;
  border: 2px solid #a855f7;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 25px;
}
.hire-me {
  background-color: #a855f7;
  color: #ffff;
  margin-right: 19px;
}

.hire-me:hover {
  background-color: #9333ea;
}

.portfolio {
  color: #a855f7;
}

.portfolio:hover {
  background-color: #9333ea;
  color: #fff;
}
